:root {
    --bgc: #eee;
    --fgc: #111;
    --black: black;
    --white: white;
    --d: 10px;
    --pink-bg: rgba(255, 192, 192, 0.4);
    --pink-h: pink;
    --teal-bg: rgba(0, 80, 80, 0.1);
    --teal-h: teal;


    --red: red;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bgc);
    color: var(--fgc);
    max-width: 1000px;
    width: 1000px;
    padding: var(--d);
    margin: var(--d);
    font-family: monospace;
    font-size: 14px;
    border: thin solid #000;
    word-wrap: break-word;
}

body.dark {
    background-color: var(--fgc);
    color: var(--bgc);
}

body.pink {
    background-color: var(--pink-bg);
    color: var(--black);
}

body.teal {
    background-color: var(--teal-bg);
    color: var(--black);
}

p {
    padding: 10px 0;
    margin: 10px 0;
}

a {
    padding: 2px;
    margin: 2px;
    display: block;
}

body.dark a {
    color: red;
}

body.dark a:visited {
    color: #ff7373;
}

body.dark a:active {
    color: magenta;
}

body.dark figure {
    padding: 1rem 0;
}

body.teal a {
    color: var(--teal-h);
}

body.teal a:visited {
    color: var(--teal-h);
}

body.teal a:active {
    color: var(--teal-h);
}

figure, img {
    max-width: 960px;
    margin: 2rem auto;
}

figcaption {
    width: 50%;
    margin: -4px auto 20px;
    background-color: teal;
    color: white;
    text-align: center;
}

img {
    max-width: 960px;
    display: block;
    margin: 5px auto;
}

pre {
    margin: 10px;
    padding: 10px;
}

pre code {
    max-width: 960px;
    display: block;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    background-color: var(--fgc);
    color: var(--bgc);
    padding: calc(2 * var(--d)) var(--d);
    margin: 10px calc(-1 * var(--d));
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    border-bottom: seagreen solid 2px;
}

body.pink h1,
body.pink h2,
body.pink h3,
body.pink h4,
body.pink h5,
body.pink h6 {
    border-bottom: hotpink solid 3px;
    background-color: var(--pink-h);
    color: var(--black);
    text-shadow: 1px 1px 1px hotpink;
}

body.teal h1,
body.teal h2,
body.teal h3,
body.teal h4,
body.teal h5,
body.teal h6 {
    border-bottom: navy solid 3px;
    background-color: var(--teal-h);
    color: var(--white);
    text-shadow: 1px 1px 1px navy;
}

h2 {
    padding-left: calc(4 * var(--d));
    font-size: 18px
}

h3 {
    padding-left: calc(8 * var(--d));
    font-size: 16px
}

h4 {
    padding-left: calc(12 * var(--d));
    font-size: 14px
}

h5 {
    padding-left: calc(16 * var(--d));
    font-size: 12px
}

h6 {
    padding-left: calc(20 * var(--d));
    font-size: 10px
}

table {
    max-width: 960px;
}

table thead,
table tbody {
    margin: 4px;
    padding: 4px;
}

table tr {
    margin: 4px;
    padding: 4px;
    border: thin solid grey;
}

table.col2 tr {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
}

table tr th,
table tr td {
    padding: 4px 1rem;
}

fieldset label {
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    border: thin solid grey;
    cursor: pointer;
}

#progress-bar {
    position: fixed;
    height: calc(var(--d) / 2);
    top: 0;
    left: var(--d);
    background-color: var(--red);
    border-bottom: thin solid var(--black);
}

#take-to-top-btn {
    position: fixed;
    left: var(--d);
    bottom: var(--d);
    padding: var(--d);
    background-color: magenta;
    color: white;
    cursor: pointer;
    transform: skewY(-7deg);
}

#take-to-top-btn:hover {
    text-shadow: 2px 2px 2px red;
    background-color: #ff20ca;
    box-shadow: 3px 3px 2px red;
}