:root {
    --bgc: #eee;
    --fgc: #111;
    --d: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bgc);
    color: var(--fgc);
    max-width: 1000px;
    width: 1000px;
    padding: var(--d);
    margin: var(--d);
    font-family: monospace;
    font-size: 14px;
    border: thin solid #000;
    word-wrap: break-word;
}

body.dark {
    background-color: var(--fgc);
    color: var(--bgc);
}

p {
    padding: 10px 0;
    margin: 10px 0;
}

a {
    padding: 2px;
    margin: 2px;
    display: block;
}

body.dark a {
    color: red;
}

body.dark a:visited {
    color: maroon;
}

body.dark a:active {
    color: magenta;
}

body.dark figure {
    padding: 1rem 0;
}

figure, img {
    max-width: 960px;
    margin: 2rem auto;
}

figcaption {
    width: 50%;
    margin: -4px auto 20px;
    background-color: teal;
    color: white;
    text-align: center;
}

img {
    max-width: 960px;
    display: block;
    margin: 5px auto;
}

pre {
    margin: 10px;
    padding: 10px;
}

pre code {
    max-width: 960px;
    display: block;
    padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
    background-color: var(--fgc);
    color: var(--bgc);
    padding: calc(2 * var(--d)) var(--d);
    margin: 10px calc(-1 * var(--d));
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 2px 2px 1px black;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
    border-bottom: seagreen solid 2px;
}

h2 {
    padding-left: calc(4 * var(--d));
    font-size: 18px
}

h3 {
    padding-left: calc(8 * var(--d));
    font-size: 16px
}

h4 {
    padding-left: calc(12 * var(--d));
    font-size: 14px
}

h5 {
    padding-left: calc(16 * var(--d));
    font-size: 12px
}

h6 {
    padding-left: calc(20 * var(--d));
    font-size: 10px
}

table {
    max-width: 960px;
}

table thead,
table tbody {
    margin: 4px;
    padding: 4px;
}

table tr {
    margin: 4px;
    padding: 4px;
    border: thin solid grey;
}

table.col2 tr {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 3fr;
}

table tr th,
table tr td {
    padding: 4px 1rem;
}
