* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #fff;
}

a {
    color: #fff;
    text-decoration-line: overline;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

.hi {
    font-size: 128px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    line-height: 100vh;
}

header.title {
    font-size: 32px;
    background-color: #333;
    color: white;
    text-align: center;
    position: sticky;
    top: 0; /* The header will be sticky at the top of the viewport */
    z-index: 1000;
    height: 20vh;
    line-height: 20vh;
}

.content {
    min-height: 100vh;
    padding: 0 10vw;
}

pre {
    font-size: 13px;
    padding: 4vh 4vw;
    border: thin solid #aaa;
    font-family: monospace;
    background-color: #333;
    width: 100%;
    white-space: pre-wrap;
    /*line-height: 2em;*/
    word-wrap: break-word;
}
